.container-detail {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.image {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
}

h3 {
    margin-bottom: 10px;
    font-size: 18px;
}

.button{
    padding: 20px 40px;
    font-size: 16px;
    width: 140px;
    align-items: center;
    
    
}